In [2]:
#import plotly
#import plotly.express as px
#import plotly.graph_objects as go
import dash
import jupyter_dash as jd
from jupyter_dash import JupyterDash
import dash_core_components as dcc
import dash_html_components as html
import dash_bootstrap_components as dbc
from dash.dependencies import Output, Input, State
from dash.exceptions import PreventUpdate
from dash_table import DataTable
import pandas as pd
pd.options.display.max_columns = None

for p in [plotly, dash, jd, dcc, html, dbc, pd,]:
    print(f'{p.__name__:-<30}v{p.__version__}')

ModuleNotFoundError: No module named 'dash'

In [3]:
import pandas as pd
df = pd.read_csv('data/historic_prediction_sentiment.csv')

df['day'] = pd.to_datetime(df['date']).dt.day
df['year'] = pd.to_datetime(df['date']).dt.year
df['month'] = pd.to_datetime(df['date']).dt.month
df.head(2)

,tweet,user,location,date,tweet_id,number_rt,number_likes,number_reply,conversation_id,key_word,sentiment,predicted_probability,day,year,month
0,acorde colombianos ex trabajo gustaba medellin...,itslilysa,"Andes, Colombia",2020-01-10 22:51:09+00:00,1215768064697999362,0,0,0,1215768064697999362,8,1,0.552759,10,2020,1
1,josefbarriosg vladdo uber apoyar uber disminuy...,LuzMarinaVelsq5,"Andes, Colombia",2020-01-10 22:06:30+00:00,1215756830246428672,0,1,0,1215743967326801922,8,1,0.577848,10,2020,1

In [3]:
import pandas as pd
#df=pd.read_csv('https://media.githubusercontent.com/media/GDLPLearning/Sentiment-Analysis-for-the-MDP/master/notebooks/Exploratory/data/2019.csv')
df = pd.read_csv('data/2019.csv')
df['num_chars'] = df['full_text'].str.len()
df['num_words'] = df['full_text'].str.split().str.len()

#df2=pd.read_csv('https://media.githubusercontent.com/media/GDLPLearning/Sentiment-Analysis-for-the-MDP/master/notebooks/Exploratory/data/tweets.csv')
df2 = pd.read_csv('data/tweets.csv')
df2['weekday'] = pd.to_datetime(df2['date']).dt.weekday
df2['year'] = pd.to_datetime(df2['date']).dt.year
df2['month'] = pd.to_datetime(df2['date']).dt.month
df2['num_chars'] = df2['full_text'].str.len()
df2['num_words'] = df2['full_text'].str.split().str.len()

In [6]:
df2['day'] = pd.to_datetime(df2['date']).dt.day
df2['hour'] = pd.to_datetime(df2['date']).dt.hour

In [21]:
df2.groupby(by=['year'])

In [25]:
x = df2.groupby(by=['key_word', 'year']).count()
# x = df2.groupby(by=['key_word', 'year', 'month', 'day', 'hour']).count()
x

                 Unnamed: 0  full_text   user  location   date  tweet_id  \
key_word   year
cultura    2019        9024       9024   9024      9024   9024      9024
           2020        8149       8149   8149      8149   8149      8149
           2021        6145       6145   6145      6145   6145      6145
           2022        2754       2754   2754      2754   2754      2754
empresa    2019        3269       3269   3269      3269   3269      3269
           2020        5385       5385   5385      5385   5385      5385
           2021        4605       4605   4605      4605   4605      4605
           2022        2095       2095   2095      2095   2095      2095
jovenes    2019        5535       5535   5535      5535   5535      5535
           2020        3792       3792   3792      3792   3792      3792
           2021        7454       7454   7454      7454   7454      7454
           2022        2935       2935   2935      2935   2935      2935
metro      2019       14079      14079  14079     14079  14079     14079
           2020       11613      11613  11613     11613  11613     11613
           2021        9937       9937   9937      9937   9937      9937
           2022        5202       5202   5202      5202   5202      5202
movilidad  2019        8232       8232   8232      8232   8232      8232
           2020        6020       6020   6020      6020   6020      6020
           2021        5179       5179   5179      5179   5179      5179
           2022        2173       2173   2173      2173   2173      2173
seguridad  2019        8477       8477   8477      8477   8477      8477
           2020        6862       6862   6862      6862   6862      6862
           2021        7843       7843   7843      7843   7843      7843
           2022        5268       5268   5268      5268   5268      5268
tecnologia 2019        2536       2536   2536      2536   2536      2536
           2020        2651       2651   2651      2651   2651      2651
           2021        1158       1158   1158      1158   1158      1158
           2022         735        735    735       735    735       735
trabajo    2019        8972       8972   8972      8972   8972      8972
           2020       10433      10433  10433     10433  10433     10433
           2021       11225      11225  11225     11225  11225     11225
           2022        5444       5444   5444      5444   5444      5444
vida       2019       14509      14509  14509     14509  14509     14509
           2020       13979      13979  13979     13979  13979     13979
           2021       14474      14474  14474     14474  14474     14474
           2022        6359       6359   6359      6359   6359      6359

                 number_rt  number_likes  number_reply  conversation_id  \
key_word   year
cultura    2019       9024          9024          9024             9024
           2020       8149          8149          8149             8149
           2021       6145          6145          6145             6145
           2022       2754          2754          2754             2754
empresa    2019       3269          3269          3269             3269
           2020       5385          5385          5385             5385
           2021       4605          4605          4605             4605
           2022       2095          2095          2095             2095
jovenes    2019       5535          5535          5535             5535
           2020       3792          3792          3792             3792
           2021       7454          7454          7454             7454
           2022       2935          2935          2935             2935
metro      2019      14079         14079         14079            14079
           2020      11613         11613         11613            11613
           2021       9937          9937          9937             9937
           2022       5202          5202          5202             5202
movilidad  2019       8232          8232          8232             8232
           2020       6020          6020          6020             6020
           2021       5179          5179          5179             5179
           2022       2173          2173          2173             2173
seguridad  2019       8477          8477          8477             8477
           2020       6862          6862          6862             6862
           2021       7843          7843          7843             7843
           2022       5268          5268          5268             5268
tecnologia 2019       2536          2536          2536             2536
           2020       2651          2651          2651             2651
           2021       1158          1158          1158             1158
           2022        735           735           735              735
trabajo    2019       8972          8972          8972             8972
           2020      10433         10433         10433            10433
           2021      11225         11225         11225            11225
           2022       5444          5444          5444             5444
vida       2019      14509         14509         14509            14509
           2020      13979         13979         13979            13979
           2021      14474         14474         14474            14474
           2022       6359          6359          6359             6359

                 id_key_word  weekday  month  num_chars  num_words    day  \
key_word   year
cultura    2019         9024     9024   9024       9024       9024   9024
           2020         8149     8149   8149       8149       8149   8149
           2021         6145     6145   6145       6145       6145   6145
           2022         2754     2754   2754       2754       2754   2754
empresa    2019         3269     3269   3269       3269       3269   3269
           2020         5385     5385   5385       5385       5385   5385
           2021         4605     4605   4605       4605       4605   4605
           2022         2095     2095   2095       2095       2095   2095
jovenes    2019         5535     5535   5535       5535       5535   5535
           2020         3792     3792   3792       3792       3792   3792
           2021         7454     7454   7454       7454       7454   7454
           2022         2935     2935   2935       2935       2935   2935
metro      2019        14079    14079  14079      14079      14079  14079
           2020        11613    11613  11613      11613      11613  11613
           2021         9937     9937   9937       9937       9937   9937
           2022         5202     5202   5202       5202       5202   5202
movilidad  2019         8232     8232   8232       8232       8232   8232
           2020         6020     6020   6020       6020       6020   6020
           2021         5179     5179   5179       5179       5179   5179
           2022         2173     2173   2173       2173       2173   2173
seguridad  2019         8477     8477   8477       8477       8477   8477
           2020         6862     6862   6862       6862       6862   6862
           2021         7843     7843   7843       7843       7843   7843
           2022         5268     5268   5268       5268       5268   5268
tecnologia 2019         2536     2536   2536       2536       2536   2536
           2020         2651     2651   2651       2651       2651   2651
           2021         1158     1158   1158       1158       1158   1158
           2022          735      735    735        735        735    735
trabajo    2019         8972     8972   8972       8972       8972   8972
           2020        10433    10433  10433      10433      10433  10433
           2021        11225    11225  11225      11225      11225  11225
           2022         5444     5444   5444       5444       5444   5444
vida       2019        14509    14509  14509      14509      14509  14509
           2020        13979    13979  13979      13979      13979  13979
           2021        14474    14474  14474      14474      14474  14474
           2022         6359     6359   6359       6359       6359   6359

                  hour
key_word   year
cultura    2019   9024
           2020   8149
           2021   6145
           2022   2754
empresa    2019   3269
           2020   5385
           2021   4605
           2022   2095
jovenes    2019   5535
           2020   3792
           2021   7454
           2022   2935
metro      2019  14079
           2020  11613
           2021   9937
           2022   5202
movilidad  2019   8232
           2020   6020
           2021   5179
           2022   2173
seguridad  2019   8477
           2020   6862
           2021   7843
           2022   5268
tecnologia 2019   2536
           2020   2651
           2021   1158
           2022    735
trabajo    2019   8972
           2020  10433
           2021  11225
           2022   5444
vida       2019  14509
           2020  13979
           2021  14474
           2022   6359

In [33]:
keyword = 'movilidad'
year = 2019
month=2
df = df2[(df2['key_word'] == keyword) & (df2['year'].eq(year)) & (df2['month'].eq(month))]
random_tweet = df['full_text'].sample().values[0]
random_tweet

' Audiencias - Secretaría de Movilidad de Medellín vía @sttmed donde consigo la hora de la Audiencia WCO932 debido a que en la página no la conseguí'

In [36]:
keyword = 'trabajo'
year = 2021
month = 2
df2[(df2['key_word'] == keyword) & (df2['year'].eq(year)) & (df2['month'].eq(month))].sample().values[0]

array([21048,
       ' @metrodemedellin Me duele el manejo que #AlcadiaDeMedellin le está dando a la ciudad. Espero no destruya nuestro servicio metro amada por todos los Medellin entonces. #DanielQuiteroCalle vino a acabar con Medellin nuestro tesoro',
       'clelurmo66', 'Montería, Colombia', '2021-02-07 16:19:21+00:00',
       1358450286982025216, 0, 0, 1, 1358449351971000321, 8, 'trabajo', 6,
       2021, 2, 229, 33], dtype=object)

In [27]:
df4 = df2[df2['key_word'] == 'trabajo']
df4['full_text'].sample().values[0]

' Trabajamos por y para toda Colombia, Medellín es nuestra casa, pero Colombia es nuestra área de trabajo. 3002537727// 3022337698 #mudanzasenmedellin #mudanzasbello #embalaje #desmontaje #mudanzasenvigado #mudanzassabaneta #mudanzadeoficina #inmobiliarias'

In [9]:
year = 2019
keyword = 'trabajo'
df3 = df2[(df2['year'].eq(year)) & (df2['key_word'] == keyword)]
df3.head()

,Unnamed: 0,full_text,user,location,date,tweet_id,number_rt,number_likes,number_reply,conversation_id,id_key_word,key_word,weekday,year,month,num_chars,num_words
21658,26845,Aquí hay una lección moral (y laboral): si no...,fcmonsalve,"Bogotá, D.C., Colombia",2019-01-10 23:07:20+00:00,1083500566658064384,0,1,0,1083500566658064384,8,trabajo,3,2019,1,160,29
21659,26846,Malestar entre los guías turísticos de la com...,hechoentamesis,"Bogotá, D.C., Colombia",2019-01-10 22:53:39+00:00,1083497123855941632,0,0,0,1083497123855941632,8,trabajo,3,2019,1,254,42
21660,26847,"Entre febrero, marzo y abril debo ir a Medell...",IronHeart0,"Bogotá, D.C., Colombia",2019-01-10 22:40:40+00:00,1083493858456018944,0,2,0,1083493858456018944,8,trabajo,3,2019,1,108,20
21661,26848,Feliz de regresar a la Escuela Primaria Gabri...,DunyaskaPANVer,"Bogotá, D.C., Colombia",2019-01-10 21:23:25+00:00,1083474415608832000,9,21,1,1083474415608832000,8,trabajo,3,2019,1,260,42
21662,26849,👆https://t.co/gSJs1ckbyo Hoy en el @MAMmedell...,infolocalcomfe,"Bogotá, D.C., Colombia",2019-01-10 21:10:09+00:00,1083471075906854913,0,1,0,1083471075906854913,8,trabajo,3,2019,1,232,35

In [34]:
df = pd.read_csv('data/2019.csv')
df['num_chars'] = df['full_text'].str.len()
df['num_words'] = df['full_text'].str.split().str.len()


df2 = pd.read_csv('data/tweets.csv')
df2['weekday'] = pd.to_datetime(df2['date']).dt.weekday
df2['year'] = pd.to_datetime(df2['date']).dt.year
df2['month'] = pd.to_datetime(df2['date']).dt.month
df3 = df2[df2['year'].eq(2019)].groupby('weekday').value_counts()
df3.head()

AttributeError: 'DataFrameGroupBy' object has no attribute 'value_counts'

In [46]:
df2['year'].value_counts().sort_index().to_frame().reset_index()

   index   year
0   2019  94325
1   2020  84660
2   2021  84027
3   2022  39995

In [36]:
df = pd.read_csv('data/tweets.csv')
df['weekday'] = pd.to_datetime(df['date']).dt.weekday
df['year'] = pd.to_datetime(df['date']).dt.year
df['month'] = pd.to_datetime(df['date']).dt.month

In [31]:
df.head()

,Unnamed: 0,full_text,user,location,date,tweet_id,number_rt,number_likes,number_reply,conversation_id,id_key_word,key_word,weekday,year,month
0,0,Me acordé que a los colombianos de mi ex trab...,itslilysa,"Andes, Colombia",2020-01-10 22:51:09+00:00,1215768064697999362,0,0,0,1215768064697999362,8,trabajo,4,2020,1
1,1,@JoseFBarriosG @VLADDO @Uber Como van a apoya...,LuzMarinaVelsq5,"Andes, Colombia",2020-01-10 22:06:30+00:00,1215756830246428672,0,1,0,1215743967326801922,8,trabajo,4,2020,1
2,2,En Tierragro sabemos que la labor en el campo...,TIERRAGRO,"Andes, Colombia",2020-01-10 19:59:40+00:00,1215724912960294917,1,1,0,1215724912960294917,8,trabajo,4,2020,1
3,3,@seguridadmed PARA NADIE ES UN SECRETO GENERA...,3puntospublicid,"Andes, Colombia",2020-01-10 19:17:54+00:00,1215714400289677313,0,0,0,1214949391913684998,8,trabajo,4,2020,1
4,4,@kmilohurtado_81 @SaqueLargoWin Tengo casi un...,HMadrid911,"Andes, Colombia",2020-01-10 18:09:24+00:00,1215697162471989248,0,1,1,1215388060294287361,8,trabajo,4,2020,1

In [32]:
dfx = df.groupby(['key_word', 'year'])
dfx.head()

,Unnamed: 0,full_text,user,location,date,tweet_id,number_rt,number_likes,number_reply,conversation_id,id_key_word,key_word,weekday,year,month
0,0,Me acordé que a los colombianos de mi ex trab...,itslilysa,"Andes, Colombia",2020-01-10 22:51:09+00:00,1215768064697999362,0,0,0,1215768064697999362,8,trabajo,4,2020,1
1,1,@JoseFBarriosG @VLADDO @Uber Como van a apoya...,LuzMarinaVelsq5,"Andes, Colombia",2020-01-10 22:06:30+00:00,1215756830246428672,0,1,0,1215743967326801922,8,trabajo,4,2020,1
2,2,En Tierragro sabemos que la labor en el campo...,TIERRAGRO,"Andes, Colombia",2020-01-10 19:59:40+00:00,1215724912960294917,1,1,0,1215724912960294917,8,trabajo,4,2020,1
3,3,@seguridadmed PARA NADIE ES UN SECRETO GENERA...,3puntospublicid,"Andes, Colombia",2020-01-10 19:17:54+00:00,1215714400289677313,0,0,0,1214949391913684998,8,trabajo,4,2020,1
4,4,@kmilohurtado_81 @SaqueLargoWin Tengo casi un...,HMadrid911,"Andes, Colombia",2020-01-10 18:09:24+00:00,1215697162471989248,0,1,1,1215388060294287361,8,trabajo,4,2020,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
242329,242329,@Dk24Dk2 @petrogustavo @QuinteroCalle De verd...,Harry_Punker,"Marinilla, Colombia",2022-01-10 23:37:32+00:00,1480685268252381184,0,0,0,1480228705775534092,5,movilidad,0,2022,1
242330,242330,@numeral767 para confirmar mañana martes 11 d...,marialejapv,"Marinilla, Colombia",2022-01-10 22:59:52+00:00,1480675788873777157,0,0,1,1480675788873777157,5,movilidad,0,2022,1
242331,242331,👨💻👩En el primer mes del año paga tus multas c...,sttmed,"Marinilla, Colombia",2022-01-10 19:00:14+00:00,1480615481778204677,3,18,6,1480615481778204677,5,movilidad,0,2022,1
242332,242332,Oriente Antioqueño Un motociclista murió en l...,SubregionOrient,"Marinilla, Colombia",2022-01-10 00:33:08+00:00,1480336871045562369,0,0,0,1480336871045562369,5,movilidad,0,2022,1
242333,242333,@ComunasMed @AlcaldiadeMed @NataliaUrregoA @S...,jofremv257,"Marinilla, Colombia",2022-01-09 22:04:46+00:00,1480299536463667202,0,0,0,1449721860514582534,5,movilidad,6,2022,1

In [58]:
dfx = df[df['year'].eq(2019)]
dfx = dfx['month'].value_counts().sort_index().to_frame().reset_index()
dfx = dfx.set_index('index')
dfx = dfx.rename(index={'0':'Jan', '1':'Hoo'})
dfx = dfx.reset_index()
dfx

    index  month
0       1   5338
1       2   6473
2       3   6399
3       4   6355
4       5   6200
5       6   5692
6       7   5881
7       8   6485
8       9   6950
9      10   7208
10     11   6344
11     12   5308

In [37]:
df.head()

,Unnamed: 0,full_text,user,location,date,tweet_id,number_rt,number_likes,number_reply,conversation_id,id_key_word,key_word,weekday,year,month
0,0,Me acordé que a los colombianos de mi ex trab...,itslilysa,"Andes, Colombia",2020-01-10 22:51:09+00:00,1215768064697999362,0,0,0,1215768064697999362,8,trabajo,4,2020,1
1,1,@JoseFBarriosG @VLADDO @Uber Como van a apoya...,LuzMarinaVelsq5,"Andes, Colombia",2020-01-10 22:06:30+00:00,1215756830246428672,0,1,0,1215743967326801922,8,trabajo,4,2020,1
2,2,En Tierragro sabemos que la labor en el campo...,TIERRAGRO,"Andes, Colombia",2020-01-10 19:59:40+00:00,1215724912960294917,1,1,0,1215724912960294917,8,trabajo,4,2020,1
3,3,@seguridadmed PARA NADIE ES UN SECRETO GENERA...,3puntospublicid,"Andes, Colombia",2020-01-10 19:17:54+00:00,1215714400289677313,0,0,0,1214949391913684998,8,trabajo,4,2020,1
4,4,@kmilohurtado_81 @SaqueLargoWin Tengo casi un...,HMadrid911,"Andes, Colombia",2020-01-10 18:09:24+00:00,1215697162471989248,0,1,1,1215388060294287361,8,trabajo,4,2020,1